<div class="movie-card">
    <mat-card class="example-card">
        <img mat-card-image [src]="image" alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-around">
          <star-rating [starType]="'svg'" [rating]="rating"></star-rating>
          <mat-icon>{{ favorite === true ?  'favorite_outline': 'favorite'}}</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>