.movie-card {
    width: 200px;
    height: 400px;

    mat-card {
        background-color: #1e1e1e;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        
        mat-card-header {
            height: 60px;  
            text-align: center;
    
            mat-card-title {
                font-size: 16px;
                text-align: center;
            } 
        }
    }
}